.env
cogs/admin/__pycache__/
cogs/events/__pycache__/
cogs/info/__pycache__/
cogs/events/OnMessage.py
cogs/utility/__pycache__/
cogs/fun/__pycache__/
json/
cogs/moderation/__pycache__/
run.bat
.gitignore